
#header {
	font-family: 'Oswald', serif;
    font-size: 50px;

}
.ui-autocomplete-category {
font-weight: bold;
padding: .2em .4em;
margin: .8em 0 .2em;
line-height: 1.5;
font-size: 12px;
}
.li{

font-size: 12px;

}

body{
  
  background-color:#f0f0f0;
  font-family: 'Open Sans', sans-serif;
} 

#section {
    width:400px;
    float:left;
    padding:10px; 
}

.inputwrap label {
    display: inline-block;
    width: 100px;
    text-align: right;
	margin-right: 0.5em;

}
#dbResultsTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#dbResultsTable th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

th[data-sort]{
      cursor:pointer;
    }
tr.awesome{
      color: red;
    }
#dbResultsTable td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#dbResultsTable tr:hover td
{
	background: #d0dafd;
	color: #339;
}

#section{
  float:left;
  height:86%;
  width:70%;
  box-sizing:border-box;
  padding:20px;
  
}
#bgPlate{
	background: #e8edff; 
} 

.inputwrap{
  background: #b9c9fe;
  height:50px;
  width:80%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
}

.iButton{
  height:30px;
  width:50%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  background:#90c843;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}

.iButton:hover{
  background:#80b438;
  
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}
.rating > .star {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > .star:hover,
.rating > .star:hover ~ .star,
.rating > .star.selected,
.rating > .star.selected ~ .star {
    color: transparent;
    2
}
.rating > .star:hover:before,
.rating > .star:hover ~ .star:before,
.rating > .star.selected:before,
.rating > .star.selected ~ .star:before {
    content:"\2605";
    position: absolute;
    left: 0;
    color: gold;
}



